/* You can add global styles to this file, and also import other style files */
@import 'theme/variables.scss';
$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$warning: var(--warning);
$warning-shade: var(--warning-shade);
$warning-tint: var(--warning-tint);

.cinzel {
    font-family: 'Cinzel', serif;
    color: var(--dark-tint);
}

.grenze {
    font-family: 'Grenze', serif;
}

body, input, button {
    font-family: 'Roboto Condensed', serif;
}

body {
    background: linear-gradient(90deg, rgba(178,177,174,1) 0%, rgba(178,177,174,0.5) 50%, rgba(207,206,204,0) 100%);
}

.primary-font {
    color: $primary;
}

.secondary-font {
    color: $secondary;
}

.btn {
    text-transform: uppercase;
    margin: 0 auto;
}

.btn-start {
    padding: 1em 4em;
    border-radius: 10px;
    border: 1px solid black;
    background-color: $warning;
    span {
        font-size: 3em;
    }
}

.btn-start:disabled {
    background-color: transparent;
    border: 1px solid $tertiary;
}

.btn-start:hover {
    background-color: $warning-tint;
}

.btn-start:focus {
    background-color: $warning-shade;
}