:root {
    --primary: #015d75;
    --primary-rgb: 1,93,117;
    --primary-contrast: #ffffff;
    --primary-contrast-rgb: 255,255,255;
    --primary-shade: #015267;
    --primary-tint: #1a6d83;
  
    --secondary: #bf2d32;
    --secondary-rgb: 191,45,50;
    --secondary-contrast: #ffffff;
    --secondary-contrast-rgb: 255,255,255;
    --secondary-shade: #a8282c;
    --secondary-tint: #c54247;
  
    --tertiary: #cac9c6;
    --tertiary-rgb: 202,201,198;
    --tertiary-contrast: #000000;
    --tertiary-contrast-rgb: 0,0,0;
    --tertiary-shade: #b2b1ae;
    --tertiary-tint: #cfcecc;
  
    --warning: #ffce00;
    --warning-rgb: 255,206,0;
    --warning-contrast: #ffffff;
    --warning-contrast-rgb: 255,255,255;
    --warning-shade: #e0b500;
    --warning-tint: #ffd31a;
  
    --dark: #222428;
    --dark-rgb: 34,34,34;
    --dark-contrast: #ffffff;
    --dark-contrast-rgb: 255,255,255;
    --dark-shade: #1e2023;
    --dark-tint: #383a3e;
  
    --light: #f4f5f8;
    --light-rgb: 244,244,244;
    --light-contrast: #000000;
    --light-contrast-rgb: 0,0,0;
    --light-shade: #d7d8da;
    --light-tint: #f5f6f9;
  }