<section>
  <div class="row">
    <h1 class="cinzel">Game of Drones</h1>
  </div>
  <div class="row">
    <h2 class="cinzel">Round {{round}}</h2>
    <h2 class="cinzel">{{username1}} {{score1}} - {{score2}} {{username2}}</h2>
  </div>
  <div class="row flex">
    <div class="col-6">
      <i class="fas fa-dragon fa-10x fa-fw primary-font"></i>
    </div>
    <div class="col-6">
      <i class="fas fa-dragon fa-10x fa-fw fa-flip-horizontal secondary-font"></i>
    </div>
  </div>
  <div class="row flex">
      <div class="col-6">
        <div class="btn-mov">
          <button class="btn">
            <i class="fas fa-hand-rock fa-5x fa-fw"></i>
          </button>
          <button class="btn">
            <i class="fas fa-hand-paper fa-5x fa-fw"></i>
          </button>
          <button class="btn">
            <i class="fas fa-hand-scissors fa-5x fa-fw"></i>
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="btn-mov">
            <button class="btn">
              <i class="fas fa-hand-rock fa-5x fa-fw"></i>
            </button>
            <button class="btn">
              <i class="fas fa-hand-paper fa-5x fa-fw"></i>
            </button>
            <button class="btn">
              <i class="fas fa-hand-scissors fa-5x fa-fw"></i>
            </button>
          </div>
      </div>
    </div>
  <div class="row">
    <h3 class="cinzel">Partial winner</h3>
    <table>
      <tr *ngFor="let item of players" >
        <td>{{item.username}}</td>
      </tr>
    </table>
  </div>
</section>