$terciary: var(--tertiary-shade);

.row {
    text-align: center;
    padding: 5px 0;
    .col-6 {
        width: 50%;
        border-right: 1px dashed $terciary;
        border-left: 1px dashed $terciary;
    }
}

h1, h2, h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

.flex {
    display: flex;
}